@import '../../views/Layout/layout';
@import '../../components/NavBar/nav';
// @import '../../views/Dashboard/';

*{
  box-sizing: border-box;
  padding: 0 ;
  margin: 0 ;
  text-decoration: none;
}

// :root {
// }

// Varaibles
$cl-font-1: #FFFFFF;
